body{
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    position: relative;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h2, h3, h4{
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
    line-height: 24px;
    margin: 0;
}
h3{
    font-size: 21px;
    line-height: 26px;
    margin: 0;
}
h4{
    font-size: 16px;
    line-height: 21px;
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 40px -15px #000;
}

/* Header */

.main_menu{
    width: 88%;
    margin: 0 auto;
}
.main_head{
    position: relative;
}
.logo{
    width: 137px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
header ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
header ul li{
    float: left;
    width: 128px;
    margin-top: 15px;
    margin-bottom: 15px;
}
header ul li:first-child, header ul li:nth-child(3){
    margin-right: 112px;
}
header ul li:nth-child(2){
    margin-right: 319px;
}
header ul li:nth-child(3), header ul li:last-child{
    text-align: right;
}
header ul li a{
    text-decoration: none;
    color: #000;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
header ul li a:hover{
    color: #81b3d2;
}
header ul li a:active{
    color: #000;
    opacity: 0.3;
}

/* Footer */

.footer_absolute{
    position: absolute;
    bottom: 0;
}
.footer_block{
    width: 400px;
    float: left;
    text-align: center;
    background-color: rgba(254,254,254,0.9);
}
.subscribe{
    padding: 47px 0;
}
.subscribe a{
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
}
.social_btn{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 46px;
    height: 48px;
    margin: 36px 0;
    background-color: #81b3d2;
    position: relative;
}
.social_btn:hover{
    background-color: #669ec0;
}
.social_btn:active{
    background-color: #5496bd;
}
.social_btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;    
}
.social_btn_twitter::before{
    width: 16px;
    height: 14px;
    background-position: -15px -1563px;
}
.social_btn_fb::before{
    width: 10px;
    height: 18px;
    background-position: -15px -619px;
}
.social_btn_youtube::before{
    width: 20px;
    height: 16px;
    background-position: -15px -1607px;
}
.social_btn_twitter:active::before, .social_btn_fb:active::before, .social_btn_youtube:active::before{
    opacity: 0.3;
}
.author_block p, .author_logo{
    display: inline-block;
    vertical-align: middle;
}
.author_block p{
    margin: 0;
    margin-right: 4px;
    text-transform: uppercase;
    line-height: 26px;
}
.author_logo{
    width: 113px;
    height: 40px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -15px -879px;
    margin: 40px 0;
}
.author_logo:hover{
    background-position: -15px -1017px;
}
.author_logo:active{
    background-position: -15px -948px;
}
/* Sprite */

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow_dwn {
    width: 11px;
    height: 10px;
    background-position: -15px -15px;
}

.sprite-arrow_dwn_down {
    width: 11px;
    height: 10px;
    background-position: -15px -55px;
}

.sprite-arrow_dwn_hvr {
    width: 11px;
    height: 10px;
    background-position: -15px -95px;
}

.sprite-arrow_up {
    width: 11px;
    height: 10px;
    background-position: -15px -135px;
}

.sprite-arrow_up_down {
    width: 11px;
    height: 10px;
    background-position: -15px -175px;
}

.sprite-arrow_up_hvr {
    width: 11px;
    height: 10px;
    background-position: -15px -215px;
}

.sprite-calendar_ico {
    width: 21px;
    height: 22px;
    background-position: -15px -255px;
}

.sprite-calendar_ico_down {
    width: 21px;
    height: 22px;
    background-position: -15px -307px;
}

.sprite-calendar_ico_hvr {
    width: 21px;
    height: 22px;
    background-position: -15px -359px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -15px -411px;
}

.sprite-checkbox_checked {
    width: 26px;
    height: 22px;
    background-position: -15px -463px;
}

.sprite-checkbox_checked_disabled {
    width: 26px;
    height: 22px;
    background-position: -15px -515px;
}

.sprite-checkbox_disabled {
    width: 22px;
    height: 22px;
    background-position: -15px -567px;
}

.sprite-fb {
    width: 10px;
    height: 18px;
    background-position: -15px -619px;
}

.sprite-food-ico {
    width: 74px;
    height: 76px;
    margin: 0 auto;
    background-position: -15px -667px;
}

.sprite-house-ico {
    width: 75px;
    height: 76px;
    margin: 0 auto;
    background-position: -15px -773px;
}

.sprite-htmlacademy_logo {
    width: 113px;
    height: 39px;
    background-position: -15px -879px;
}

.sprite-htmlacademy_logo_down {
    width: 113px;
    height: 39px;
    background-position: -15px -948px;
}

.sprite-htmlacademy_logo_hvr {
    width: 113px;
    height: 39px;
    background-position: -15px -1017px;
}

.sprite-qty_minus {
    width: 12px;
    height: 3px;
    background-position: -15px -1086px;
}

.sprite-qty_minus_down {
    width: 12px;
    height: 3px;
    background-position: -15px -1119px;
}

.sprite-qty_minus_hvr {
    width: 12px;
    height: 3px;
    background-position: -15px -1152px;
}

.sprite-qty_plus {
    width: 11px;
    height: 11px;
    background-position: -15px -1185px;
}

.sprite-qty_plus_down {
    width: 11px;
    height: 11px;
    background-position: -15px -1226px;
}

.sprite-qty_plus_hvr {
    width: 11px;
    height: 11px;
    background-position: -15px -1267px;
}

.sprite-range {
    width: 20px;
    height: 21px;
    background-position: -15px -1308px;
}

.sprite-range_hvr {
    width: 20px;
    height: 21px;
    background-position: -15px -1359px;
}

.sprite-rating_star {
    width: 18px;
    height: 17px;
    background-position: -15px -1410px;
}

.sprite-souvenir-ico {
    width: 64px;
    height: 76px;
    margin: 0 auto;
    background-position: -15px -1457px;
}

.sprite-twitter {
    width: 16px;
    height: 14px;
    background-position: -15px -1563px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -15px -1607px;
}


/* Index page */

.main_bg{
    min-height: 508px;
    background-image: url("../img/main-bg.jpg");
}
.main_bg img{
    display: block;
    width: 575px;
    height: 352px;
    margin: 0 auto;
    padding-top: 76px;
}
.main_description{
    width: 575px;
    margin: 63px auto 0 auto;
    text-align: center;
}
.main_description  h3, .main_description  p{
    line-height: 26px;
}
.main_description  p{
    margin-top: 33px;
    margin-bottom: 52px;
    color: #333;
    text-transform: uppercase;
}
.reasons{
    text-transform: uppercase;
    text-align: center;
}
.reasons_one_two{
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #fff;
    box-sizing: border-box;
    padding-top: 57px;
}
.reasons_one_two h3, .reasons_three_to_five h3{
    margin-bottom: 26px;
}
.reasons_one_two p, .reasons_three_to_five p, .reasons_features p{
    margin: 0;
    padding: 0 49px;
}
.reasons_one_two span, .reasons_three_to_five span{
    display: block;
    margin-bottom: 25px;
}
.reasons_img{
    width: 800px;
    height: 256px;
    overflow: hidden;
}
.real_city div, .devil_bridge div{
    float: left;
}
.reasons_features, .reasons_three_to_five{
    width: 400px;
    float: left;
}
.reasons_features{
    min-height: 330px;
    padding-top: 56px;
    box-sizing: border-box;
}
.reasons_features h3{
    margin: 32px 0;
}
.reasons_three_to_five{
    min-height: 256px;
    background-color: #eee;
    box-sizing: border-box;
    padding-top: 57px;
}
.reasons_features p,
.reasons_three_to_five p, .reasons_three_to_five span, .hotel_search_head p{
    color: #333;
}
.hotel_search{
    position: relative;
}
.hotel_search_head{
    width: 570px;
    min-height: 291px;
    margin: 0 auto;
    padding-top: 55px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}
.hotel_search_head h2{
    margin-bottom: 30px;
}
.hotel_search_head p{
    margin: 0;
    line-height: 24px;
}
.hotel_search_form{
    position: absolute;
    top: 205px;
    left: 50%;
    width: 568px;
    margin: 0 auto;
    transform: translateX(-50%);
}
.switch {
    display: block;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #766357;
    padding: 30px 0;
}
.hotel_search_form form{
    background-color: #fff;
    padding: 55px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0px 7px 35px -10px #000101;
}
input[type="text"]{
    border: none;
    background-color: #f2f2f2;
    width: 346px;
    height: 38px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    padding: 0 30px 0 15px;
    box-sizing: border-box;
}
.check_in_out input[type="text"]:hover, .people_count input[type="text"]:hover{
    background-color: #ebebeb;
}
.check_in_out input[type="text"]:focus, .people_count input[type="text"]:focus{
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    background-color: #fff;
    
}
.check_in_out{
    position: relative;
    margin-bottom: 30px;
}
.check_in_out input{
    float: right;
}
.check_in_out label, .people_count label{
    float: left;
    padding: 6px 0;
    cursor: pointer;
}
.calendar_ico{
    display: block;
    position: absolute;
    top: 8px;
    right: 9px;
    width: 21px;
    height: 22px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -15px -255px;
    cursor: pointer;
    
}
.calendar_ico:hover{
    background-position: -15px -359px;
}
.calendar_ico:active{
    background-position: -15px -307px;
}
.people_count{
    width: 229px;
    float: left;
    position: relative;
}
form div:nth-child(4){
    width: 177px;
    margin-left: 52px;
}
.people_count input{
    width: 114px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    float: right;
}
input[name="adults"]{
    margin-right: 3px;
}
.plus{
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 13px;
    right: 14px;
    background-position: -15px -1185px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.plus:hover{
    background-position: -15px -1267px;
}
.plus:active{
    background-position: -15px -1226px;
}
.minus{
    display: block;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 18px;
    right: 89px;
    background-position: -15px -1086px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.minus:hover{
    background-position: -15px -1152px;
}
.minus:active{
    background-position: -15px -1119px;
}
.search_btn{
    width: 100%;
    border: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    background-color: #81b3d2;
    padding: 16px 0;
    margin-top: 54px;
    cursor: pointer;
}
.search_btn:hover{
    background-color: #669ec0;
}
.search_btn:active{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.hotel_search_map {
    width: 1200px;
    height: 594px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
}

/* Hotels page */

.catalog_filter{
    min-height: 217px;
    background-image: url("../img/filter-bg.jpg");
}
.catalog_filter form, .search_result{
    width: 1055px;
    margin: 0 auto;
/*    padding: 0 72px;*/
}
.features, .hotel_type, .prise_and_result{
    width: 250px;
    float: left;
    margin-top: 29px;
    color: #fff;
    text-transform: uppercase;
}
.features h4, .hotel_type h4{
    margin-bottom: 27px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    display: block;
    line-height: 22px;
    padding-left: 41px;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: "";
    display: block;
    width: 26px;
    height: 22px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -15px -411px;
    top: 0;
    left: 0;
    position: absolute;
}
input[type="checkbox"]:checked + label::before{
    background-position: -15px -463px;
}
.prise_and_result{
    width: 330px;
    float: right;
}
.prise_and_result h4{
    margin-bottom: 9px;
}
.price_controls{
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
}
.price_controls::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background-color: #fff;
}
.price_controls label{
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}
.price_controls .min_price, .price_controls .max_price{
    width: 90px;
    padding-left: 65px;
}
.price_controls input{
    width: 50px;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}
.range_controls{
    position: relative;
    margin-bottom: 32px;
}
.scale{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}
.bar{
    width: 80%;
    height: 2px;
    background-color: #fff;
}
.range_toggle{
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range_toggle:hover{
    background-color: #1c4f80;
}
.range_toggle_min{
    left: 0%;
}
.range_toggle_max{
    left: 80%;
}
.prise_and_result input[type="submit"]{
    display: block;
    width: 133px;
    margin: 0 auto;
    padding: 5px 0;
    font: inherit;
    color: inherit;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}
.prise_and_result input[type="submit"]:hover{
    background-color: #fff;
    color: #000;
}
.sorting_item, .search_result_head ul li, .item_preview, .item_preview_description{
    float: left;
}
.search_result_head{
    padding: 33px 72px;
    border-bottom: 2px solid #e5e5e5;
}
.search_result_item{
    padding: 30px 72px 28px 72px;
    border-bottom: 2px solid #e5e5e5;
}
.sorting_head{
    margin-left: 50px;
    padding: 4px 0;
    font-size: 12px;
    line-height: 18px;
}
.sorting_type{
    margin: 0;
    margin-left: 40px;
    padding: 4px 0;
    font-size: 12px;
    line-height: 18px;
}
.sorting_type li{
    list-style: none;
    padding: 0 2px;
    margin-right: 29px;
}
.sorting_type_item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}
.sorting_type_active a{
    text-decoration: none;
    color: #81b3d2;
    border-bottom: none;
}
.sorting_type_item a:hover{
    color: #81b3d2;
}
.sorting_type_item a:active{
    color: #000;
    border: none;
}
.sort_direction, .rating{
    float: right;
}
.sort_direction{
    font-size: 0;
}
.sort_direction span{
    display: inline-block;
    vertical-align: bottom;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;cursor: pointer;
}
.direction_up{
    width: 11px;
    height: 10px;
    background-position: -15px -135px;
}
.direction_up:hover{
    background-position: -15px -215px;
}
.direction_up:active{
    background-position: -15px -175px;
}
.direction_down{
    width: 11px;
    height: 10px;
    background-position: -15px -15px;
    margin-left: 11px;
}
.direction_down:hover{
    background-position: -15px -95px;
}
.direction_down:active{
    background-position: -15px -55px;
}
/* Класс активного состояния стрелки сортировки */
.direction_up_active{
    width: 11px;
    height: 10px;
    background-position: -15px -175px;
}
.direction_down_active{
    width: 11px;
    height: 10px;
    background-position: -15px -55px;
    margin-left: 11px;
}
